<section class="banner2_section py-5">
    <div class="container">
        <div class="row">

            {{!-- Left Side --}}
            <div class="col-md-6 text-center pt-5">
                <h3> {{banner.[1].title}}</h3>
                <p>{{banner.[1].desc}}
                </p>

                <button class="btn btn-primary">{{banner.[1].btn}}</button>

            </div>


            {{!-- Right Side --}}
            <div class="col-md-6 text-center py-2">
                <img src="{{banner.[1].url}}" style="max-height:350px;" alt="">

            </div>

        </div>
    </div>
</section>