<section class="banner1_section py-5 background1">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>{{banner.[0].title}}</h1>
                <p>
                    {{banner.[0].desc}}
                </p>
                <button class="btn btn-primary">{{banner.[0].btn}}</button>
            </div>
        </div>
    </div>
</section>