<section class="banner2_section py-5">
    <div class="container">
        <div class="row">

            {{!-- Left Side --}}
            <div class="col-md-6 text-center py-2">
                <img src="{{banner.[2].url}}" class="img-fluid" style="max-height:350px;" alt="">

            </div>

            {{!-- Right Side --}}
            <div class="col-md-6 text-center pt-5">
                <h3> {{banner.[2].title}}</h3>
                <p>{{banner.[2].desc}}
                </p>

                <button class="btn btn-primary">{{banner.[2].btn}}</button>

            </div>

        </div>
    </div>
</section>