<footer class="footer background1 py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{footer.[0].title}} <span> {{footer.[0].name}}</span>
            </div>
        </div>
    </div>
</footer>