{{!-- Navbar --}}

<nav class="navbar navbar-expand-lg navbar-light border-bottom py-4 bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{data.[0].brandIconUrl}}" alt="" style="border-radius: 50%;" width="35" height="35">
            {{data.[0].brandName}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {{#each data.[0].links}} {{!-- hbs Iteration Method just like Foreach Loop --}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={{this.url}}>{{this.label}}</a>
                </li>
                {{/each}}

            </ul>
        </div>
    </div>
</nav>